services:
  db:
    image: postgres:15
    container_name: postgres_db_cm

    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: customers
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: customer_api
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - .env
    depends_on:
      - db
    command: sh -c "npx prisma migrate deploy && node server.js"

volumes:
  postgres_data:
